.input_container {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0;

    & label {
        margin: 8px 0px;
    }

    & input {
        width: 430px;
        padding: 8px;
        border-radius: 10px;
        background: none;
        border: solid 1px #AF0404;

        &:focus {
            border: #AF0404;
        }
    }
}