.container_list {
    overflow: hidden;
    & h2 {
        font-size: 30px;
        color: white;
    }

    & .card_movies_container {
        display: flex;
        overflow-x: auto;
    }

    & .top_list_container {
        display: flex;
        justify-content: space-between;

        
    }
}




.container_list {
    overflow: hidden;
    margin: 100px 0px 0 110px;
        & h2 {
        font-size: 30px;
        color: white;
    }

    & .card_movies_container {
        display: flex;
        overflow-x: auto;
    }

    & .top_list_container {
        display: flex;
        justify-content: space-between;
        margin-right: 110px;
        & .carrousel_buttons {
            color: #414141;
            margin-right: 10px;
            & button {
                border: solid 1px;
                border-radius: 20px;
                padding: 10px;
                margin: 7px;
                transition: .5s all;
            &:hover {
                color: white;
                
            }
            }
        }
    }

    & .carrousel_container {
        width: min-content;
    overflow: hidden;
    }
}


@media screen and (max-width: 1200px) {
    .card {
        width: 300px;
        height: 400px;
    }

    .swiper-container {
         & .swiper-slide {
            margin-right: 40px;
        }
    }
}