.container_list_mobile{
    overflow: hidden;
    & h2 {
        font-size: 30px;
        color: white;
    }

    & .card_movies_container {
        display: flex;
        overflow-x: auto;
    }

    & .top_list_container_mobile {
        display: flex;
        justify-content: space-between;

        
    }
}




.container_list_mobile {
    overflow: hidden;
    margin: 50px 0px 0 10px;
        & h2 {
        font-size: 30px;
        color: white;
    }

    & .card_movies_container {
        display: flex;
        overflow-x: auto;
    }

    & .top_list_container_mobile {
        display: flex;
        justify-content: space-between;
        margin-right: 110px;
        & .carrousel_buttons {
            color: #414141;
            margin-right: 10px;
            & button {
                border: solid 1px;
                border-radius: 20px;
                padding: 10px;
                margin: 7px;
                transition: .5s all;
            &:hover {
                color: white;
                
            }
            }
        }
    }

    & .carrousel_container {
        width: min-content;
    overflow: hidden;
    }
}


@media screen and (max-width:540px) {

    .container_list_mobile {
        & h2 {
            font-size: 24px;
        }
    }
    
    .card {
        width: 275px;
        height: 364px;    
    
    };
}

@media screen and (max-width: 660px) {
    .card {
        width: 220px;
        height: 250px;
    }
}

@media screen and (max-width: 440px) {
    .container_list_mobile {
        & h2 {
            font-size: 18px;
        }
    }

    .card {
        width: 161px;
        height: 200px;
    }
}


@media screen and (max-width: 290px) {
    .card {
        width: 120px;
        height: 140px;
    }
}