@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');

.container_front_page {
    background-size: cover;
    height: 800px;
    overflow: hidden;
    padding: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    position: relative;
    
 

}

.container_details {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    & .container_details_img {
        margin: 0px 40px 0px 100px;
        & article{
            & .image {
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                width: 260px;
                z-index: 2;
                margin-bottom: 10px;
            }
        }
    }

    & .container_details_info {
        display: flex;
        width: 500px;
        flex-direction: column;
        
        color: white;
        & h1 {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            font-size: 40px;
        }
        & p {
            margin: 20px 0px;
            font-size: 17px;
        }

        & span {
            margin-bottom: 20px;
        }

        & .details_info_buttons {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & button {
                padding: 15px;
                border-radius: 20px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;               
                text-decoration: none;
                font-size: 18px;

            }
            & .watch_movie_button {
                background: black;
                display: flex;
                margin-right: 15px;
                transition: .5s all;
                &:hover {
                    background-color: rgb(41, 41, 41);
                }
            }
            & .watch_trailer_button {
                background-color: white;
                color: black;
                display: flex;
                align-items: center;
                transition: .5s all;
                &:hover {
                    background-color: rgb(198, 198, 198);
                }
            }
        }
      }
}


@media screen and (max-width:905px) {

    .container_front_page {
        height: auto;
    }

    .container_details {
        & .container_details_info {
            & h1 {
                font-size: 24px;
            }
        }
    }
}