.container_explore_principal {
    margin: 80px;
}


.header_explorer {
    /* border-bottom: solid 1px white; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-bottom: 10px;

    & h1 { 
        /* border-bottom: solid 1px white; */
        color: white;
        font-weight: bold;
        font-size: 28px;
    }
}



.container_filtres {
    display: flex;
    position: relative;
    align-items: center;
}
.container_cards {
    margin-top: 25px;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en una nueva línea si no caben en una sola fila */
    gap: 20px; /* Espacio entre las tarjetas */
  }


.movie_card {
    flex: 1 1 calc(25% - 20px); /* Hace que las tarjetas ocupen aproximadamente el 25% del contenedor, menos el espacio del gap */
}




@media (width <= 980px) {


    .header_explorer {
        & h1 {
            font-size: 22px;
        }
    }



    
    .filter_movie {
        font-size: 10px;
        width: 21vw;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .title_filter  {
        font-size: 12px;
    }

}



@media ( width <= 850px) {
    .container_explore_principal {
        margin: 30px;
    }


    
}



/* .container_search {
    & input {
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #272727;
        margin: 0px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        outline: none;
    }
} */


@media (width < 700px) {
    .title_filter {
        width: max-content;
        /* margin-right: 100px; */
    }

    .container_filter {
        display: flex;
        gap: 15px;
        margin:  10px 0;
        align-items: center;
    }

    .header_explorer {
        display: block;
    }

}