

.movie-list_mobile_container {
    display: none;
}

.container_home {
    margin: 1.5rem 2.5rem 0 2.5rem;
}


.cover-page_mobile_container {
    display: none;
}

@media screen and (max-width:930px) {
    .movie-list_mobile_container {
        display: block;
    }

    .movie-list_desktop_container {
        display: none;
    }
    
    
}

@media (width < 850px) {
    .cover-page_mobile_container {
        display: block;
    }

    .cover-page_desktop_container {
        display: none;
    }
    
}


@media (width < 650px) {
    .container_home {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (width < 480px) {
    .container_home {
        margin-left: 5px;
        margin-right: 5px;
    }
}