@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.container_movie_card {
    width: 20vw;
    height: 25vw;
    transition: .5s all;
    display: flex;
    /* margin: 0px 30px 15px 0; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 13px 11px 79px -24px rgba(0,0,0,1);
    -webkit-box-shadow: 13px 11px 79px -24px rgba(0,0,0,1);
    -moz-box-shadow: 13px 11px 79px -24px rgba(0,0,0,1);

   
}

.container_details {
    color: white;
    
    & h4 {
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }

    & .container_genre {
        & div {
            padding: 8px;
            margin-right: 10px;
            border-radius: 5px;
        }
    }
}

